/* Estilos principais */
body {
    background-color: #201920;
    font-family: 'PT Serif','Roboto', serif, sans-serif;
    color: #e0dfe0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* Nav Styles*/
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.lado-esquerdo {
	display: flex;
}

.lado-esquerdo {
	display: flex;
}

.nav-wrapper >.lado-esquerdo > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;

}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid #2BBEF2;
}

.nav-link-wrapper a:hover {
	color: #2BBEF2;
}

.active-nav-link {
	border-bottom: 1px solid #2BBEF2;
}

.active-nav-link a {
	color: #e0dfe0;
}

.caixa-status {
	display: inline-block;
	text-align: center;

}

.caixa-win {
	position: relative;
    background-color: #D167D8;
    color: #e0dfe0;
    font-family: 'PT Serif';
	width: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}

.caixa-lose {
	position: relative;
    background-color: #3D293E;
    color: #e0dfe0;
    font-family: 'PT Serif';
	width: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
}

